<style>
 *{
    font-family: 'poppins';
    text-align: center;
    margin-top: 2rem;
    
 }
 h1{
    font-size: 40px;
    color: gold;
 }
 button{
    width: 20%;
    padding: 2px;
    font-size: 30px;
    border-radius: 3px;
    border: none;
    background-color: skyblue;
 }
 a{
    text-decoration: none;
    color: white;

 }
</style>
<body>
    <h1> Employee Portal</h1>
    <h2>Hi <%= name %></h2>
    <button> <a href="./register"> Register Here</a></button>
    
</body>